openapi: 3.0.0
info:
  title: GreyNoise Callback Utility API
  version: 3.0.0
  description: GreyNoise is a cybersecurity company that collects and analyzes Internet-wide scan and attack traffic. Use GreyNoise to contextualize existing alerts, filter false-positives, identify compromised devices, and track emerging threats.
  contact:
    email: hello@greynoise.io
  license:
    name: Proprietary
    url: https://www.greynoise.io/terms
servers:
- url: https://api.greynoise.io
  description: Production
security:
- APIKeyHeaderAuth: []
tags:
- name: Utility
  description: 'Endpoints that are used for checking status or retrieving basic metadata

    '
paths:
  /ping:
    get:
      operationId: ping
      tags:
      - Utility
      summary: Ping
      description: 'Provides a simple endpoint to check GreyNoise status and GreyNoise

        API access

        '
      responses:
        '200':
          description: Ping successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: pong
                  expiration:
                    type: string
                    description: API key expiration date
                    example: '2026-12-31'
                  offering:
                    type: string
                    description: Compatibility offering value. Currently always enterprise for authenticated requests.
                    example: enterprise
                  address:
                    type: string
                    description: Client IP address
                    example: 3.215.138.152
                  plan:
                    type: string
                    description: Active subscription plan name
                    example: Elite
                  modules:
                    type: string
                    description: Comma-separated list of active add-on module names
                    example: Hunt,Vulnerability Prioritization
              examples:
                Ping200Example:
                  summary: Default ping 200 response
                  x-microcks-default: true
                  value:
                    message: pong
                    expiration: '2026-12-31'
                    offering: enterprise
                    address: 3.215.138.152
                    plan: Elite
                    modules: Hunt,Vulnerability Prioritization
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Unauthorized. Please check your API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Unauthorized
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          example: Success
      required:
      - message
  securitySchemes:
    APIKeyHeaderAuth:
      type: apiKey
      in: header
      name: key
      description: GreyNoise API key passed via the 'key' HTTP header.
