openapi: 3.0.0
info:
  title: GreyNoise API
  version: 3.0.0
  description: GreyNoise is a cybersecurity company that collects and analyzes Internet-wide scan and attack traffic. Use GreyNoise to contextualize existing alerts, filter false-positives, identify compromised devices, and track emerging threats.
  contact:
    email: hello@greynoise.io
  license:
    name: Proprietary
    url: https://www.greynoise.io/terms
servers:
  - url: https://api.greynoise.io
    description: Production
security:
  - APIKeyHeaderAuth: []
tags:
  - name: CVE
    description: "Endpoints that are used for retrieving information about Common Vulnerabilities and Exposures (CVEs).\n"
  - name: Sessions
    description: "Endpoints for querying, analyzing, and exporting raw network session (PCAP)\ndata captured by GreyNoise sensors. Use the `scope` parameter to control\ndata access (workspace or demo). Required entitlements vary by scope.\n"
  - name: Community
    description: Endpoints for the community level users
  - name: IP Timeline
    description: "Noise data captures internet scanning activity against GreyNoise sensors\ndeployed globally.\nThe IP Timeline APIs allow temporal analysis and presents the user with a\nview of how this data has changed over the time.\n"
  - name: Recall
    description: "Endpoint that are used for retrieving GNQL data over time. Allows users\nto view hourly snapshots of IP activity for IPs that return for any\nGNQL query.\n"
  - name: GNQL
    description: Calls to interface with GNQL (GreyNoise Query Language).
  - name: Tags
    description: "Endpoints for retrieving tag information, metadata, and associated activity data.\n"
  - name: Utility
    description: "Endpoints that are used for checking status or retrieving basic metadata\n"
  - name: IP Lookup
    description: Calls to identify whether or not an IP address is noise, or get more information about a given IP address.
paths:
  /ping:
    get:
      operationId: ping
      tags:
        - Utility
      summary: Ping
      description: "Provides a simple endpoint to check GreyNoise status and GreyNoise\nAPI access\n"
      responses:
        '200':
          description: Ping successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: pong
                  expiration:
                    type: string
                    description: API key expiration date
                    example: '2026-12-31'
                  offering:
                    type: string
                    description: Compatibility offering value. Currently always enterprise for authenticated requests.
                    example: enterprise
                  address:
                    type: string
                    description: Client IP address
                    example: 3.215.138.152
                  plan:
                    type: string
                    description: Active subscription plan name
                    example: Elite
                  modules:
                    type: string
                    description: Comma-separated list of active add-on module names
                    example: Hunt,Vulnerability Prioritization
              examples:
                Ping200Example:
                  summary: Default ping 200 response
                  x-microcks-default: true
                  value:
                    message: pong
                    expiration: '2026-12-31'
                    offering: enterprise
                    address: 3.215.138.152
                    plan: Elite
                    modules: Hunt,Vulnerability Prioritization
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/callback/export-ips:
    post:
      tags:
        - Callback
      summary: Export Callback IPs
      operationId: CallbackExportIPs
      description: "Export callback IPs matching the given filters as a newline-delimited\nplain text list. Supports the same filter parameters as the List\nCallback IPs endpoint.\n"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackFilterFields'
            examples:
              CallbackExportIPsRequestExample:
                summary: Default CallbackExportIPs request
                x-microcks-default: true
                value:
                  is_stage_1: false
                  is_stage_2: false
                  first_seen_after: '2026-05-01'
                  first_seen_before: '2026-05-01'
                  last_seen_after: '2026-05-01'
                  last_seen_before: '2026-05-01'
                  has_files: false
                  file_type: string
                  file_name: Google Public DNS
                  file_hash: 795bc7ce13f60d61e9ac03611dd36d90
                  scanner_ips: &id001
                    - string
                  ips: &id002
                    - string
      responses:
        '200':
          description: OK - newline-delimited list of callback IPs.
          content:
            text/plain:
              schema:
                type: string
                example: "198.51.100.42\n203.0.113.7\n192.0.2.99\n"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/callback/ip/{ip}:
    get:
      tags:
        - Callback
      summary: Callback IP Lookup
      operationId: CallbackGetIP
      description: "Retrieve detailed information about a specific callback IP, including\nattack stage, scanner associations, and downloaded malware files.\n"
      parameters:
        - name: ip
          in: path
          description: The callback IP address to look up.
          required: true
          schema:
            type: string
            example: 198.51.100.42
      responses:
        '200':
          description: OK - callback IP details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackIPDetailResponse'
              examples:
                CallbackGetIP200Example:
                  summary: Default CallbackGetIP 200 response
                  x-microcks-default: true
                  value:
                    ip: 198.51.100.42
                    source_workspaces: &id033
                      - GreyNoise
                      - UserWorkspace
                    is_stage_1: false
                    is_stage_2: false
                    first_seen: '2025-03-01T00:00:00Z'
                    last_seen: '2025-03-15T12:30:00Z'
                    scanner_ips: &id034
                      - 203.0.113.7
                      - 192.0.2.99
                    scanner_count: 5
                    file_count: 3
                    active_files: &id035 []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/callback/ips:
    post:
      tags:
        - Callback
      summary: List Callback IPs
      operationId: CallbackListIPs
      description: "Retrieve a paginated list of callback IPs with filtering by attack\nstage, date ranges, file attributes, and scanner associations.\n"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackListIPsRequest'
            examples:
              CallbackListIPsRequestExample:
                summary: Default CallbackListIPs request
                x-microcks-default: true
                value:
                  is_stage_1: false
                  is_stage_2: false
                  first_seen_after: '2026-05-01'
                  first_seen_before: '2026-05-01'
                  last_seen_after: '2026-05-01'
                  last_seen_before: '2026-05-01'
                  has_files: false
                  file_type: string
                  file_name: Google Public DNS
                  file_hash: 795bc7ce13f60d61e9ac03611dd36d90
                  scanner_ips: *id001
                  ips: *id002
                  page: 100
                  page_size: 100
      responses:
        '200':
          description: OK - paginated list of callback IPs returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackListIPsResponse'
              examples:
                CallbackListIPs200Example:
                  summary: Default CallbackListIPs 200 response
                  x-microcks-default: true
                  value:
                    items: &id036 []
                    total: 142
                    page: 0
                    page_size: 20
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/callback/overview:
    post:
      tags:
        - Callback
      summary: Callback Overview Statistics
      operationId: CallbackOverview
      description: "Retrieve aggregate statistics for callback IPs including counts by\nattack stage, file analysis status, scanner associations, and top\nthreat names.\n"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackFilterFields'
            examples:
              CallbackOverviewRequestExample:
                summary: Default CallbackOverview request
                x-microcks-default: true
                value:
                  is_stage_1: false
                  is_stage_2: false
                  first_seen_after: '2026-05-01'
                  first_seen_before: '2026-05-01'
                  last_seen_after: '2026-05-01'
                  last_seen_before: '2026-05-01'
                  has_files: false
                  file_type: string
                  file_name: Google Public DNS
                  file_hash: 795bc7ce13f60d61e9ac03611dd36d90
                  scanner_ips: *id001
                  ips: *id002
      responses:
        '200':
          description: OK - overview statistics returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackOverviewResponse'
              examples:
                CallbackOverview200Example:
                  summary: Default CallbackOverview 200 response
                  x-microcks-default: true
                  value:
                    total_ips: 142
                    stage_1_ips: 98
                    stage_2_ips: 44
                    total_files: 230
                    files_with_vt: 180
                    files_without_vt: 50
                    total_cross_refs: 312
                    total_scanner_links: 456
                    ips_with_files: 110
                    ips_without_files: 32
                    ips_with_scanners: 130
                    ips_without_scanners: 12
                    distinct_scanners: 89
                    top_threat_names: &id037 []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/cve/{cve_id}:
    get:
      operationId: getCVE
      tags:
        - CVE
      summary: Retrieve CVE Information
      description: Retrieve details about a specific Common Vulnerabilities and Exposures (CVE).
      parameters:
        - name: cve_id
          in: path
          description: The CVE ID to query (e.g., CVE-2024-12345)
          required: true
          schema:
            type: string
            pattern: ^CVE-\d{4}-\d+$
      responses:
        '200':
          description: Successful response with CVE details based on entitlements.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CVEAdvancedResponse'
                  - $ref: '#/components/schemas/CVEBasicResponse'
                  - $ref: '#/components/schemas/CVEMinimalResponse'
              examples:
                GetCVE200Example:
                  summary: Default getCVE 200 response
                  x-microcks-default: true
                  value:
                    id: CVE-2024-12345
                    details:
                      vulnerability_name: Sample Vulnerability
                      vulnerability_description: This vulnerability allows remote attackers to execute arbitrary code.
                      cve_cvss_score: 7.5
                      product: Sample Product
                      vendor: Sample Vendor
                      published_to_nist_nvd: true
                    timeline:
                      cve_published_date: '2024-01-01'
                      cve_last_updated_date: '2024-01-02'
                      first_known_published_date: '2024-01-01'
                      cisa_kev_date_added: '2024-01-03'
                    exploitation_details:
                      attack_vector: Network
                      exploit_found: true
                      exploitation_registered_in_kev: true
                      epss_score: 0.8
                    exploitation_stats:
                      number_of_available_exploits: 5
                      number_of_threat_actors_exploiting_vulnerability: 3
                      number_of_botnets_exploiting_vulnerability: 2
                    exploitation_activity:
                      activity_seen: true
                      benign_ip_count_1d: 100
                      benign_ip_count_10d: 500
                      benign_ip_count_30d: 1000
                      threat_ip_count_1d: 10
                      threat_ip_count_10d: 50
                      threat_ip_count_30d: 100
        '400':
          description: Invalid CVE ID format or missing CVE ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: 'bad query: invalid CVE format'
        '404':
          description: CVE not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: CVE not found
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/community/{ip}:
    get:
      operationId: getCommunityIP
      parameters:
        - $ref: '#/components/parameters/ip'
      tags:
        - Community
      summary: Community API
      description: "The Community API provides community users with a free tool to\nquery IPs in the GreyNoise dataset and retrieve a subset of the full\nIP context data returned by the IP Lookup API.\n"
      responses:
        '200':
          description: Query was successful, Community API found either a RIOT or Noise record for submitted IP address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityResponse'
              examples:
                GetCommunityIP200Example:
                  summary: Default getCommunityIP 200 response
                  x-microcks-default: true
                  value:
                    ip: 1.2.3.4
                    noise: false
                    riot: true
                    classification: benign
                    name: Cloudflare
                    link: https://viz.greynoise.io/riot/1.2.3.4
                    last_seen: '2020-01-01'
                    message: Success
        '400':
          description: "The IP address submitted is not a valid routable IPv4 address.\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request is not a valid routable IPv4 address
              examples:
                GetCommunityIP400Example:
                  summary: Default getCommunityIP 400 response
                  x-microcks-default: true
                  value:
                    message: Request is not a valid routable IPv4 address
        '404':
          description: The community API was unable to find a record for the requested IP address.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip:
                    type: string
                    example: 1.2.3.4
                  noise:
                    type: boolean
                    example: false
                  riot:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: IP not observed scanning the internet or contained in RIOT data set.
              examples:
                GetCommunityIP404Example:
                  summary: Default getCommunityIP 404 response
                  x-microcks-default: true
                  value:
                    ip: 1.2.3.4
                    noise: false
                    riot: false
                    message: IP not observed scanning the internet or contained in RIOT data set.
        '429':
          description: Predefined rate-limit has been reached
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan:
                    type: string
                    example: unauthenticated
                  rate-limit:
                    type: string
                    example: 100-lookups/day
                  plan_url:
                    type: string
                    example: https://greynoise.io/pricing
                  message:
                    type: string
                    example: "You have hit your daily rate limit of 100 requests per day. Please create a free account or upgrade your plan at https://greynoise.io/pricing.\n"
              examples:
                GetCommunityIP429Example:
                  summary: Default getCommunityIP 429 response
                  x-microcks-default: true
                  value:
                    plan: unauthenticated
                    rate-limit: 100-lookups/day
                    plan_url: https://greynoise.io/pricing
                    message: "You have hit your daily rate limit of 100 requests per day. Please create a free account or upgrade your plan at https://greynoise.io/pricing.\n"
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/cves:
    post:
      operationId: bulkCVELookup
      tags:
        - CVE
      summary: Bulk CVE Lookup
      description: "Retrieve information about multiple CVEs in a single request. Supports up to 10,000 CVEs per request.\n\nThis endpoint requires a business email address and appropriate entitlements.\nResponse type depends on user entitlements (minimal, basic, or advanced).\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cves
              properties:
                cves:
                  type: array
                  items:
                    type: string
                    pattern: ^CVE-\d{4}-\d+$
                  description: Array of CVE IDs to lookup
                  example: &id003
                    - CVE-2024-12345
                    - CVE-2023-45678
                  maxItems: 10000
            examples:
              BulkCVELookupRequestExample:
                summary: Default bulkCVELookup request
                x-microcks-default: true
                value:
                  cves: *id003
      responses:
        '200':
          description: OK - request successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/CVEAdvancedResponse'
                    - $ref: '#/components/schemas/CVEBasicResponse'
                    - $ref: '#/components/schemas/CVEMinimalResponse'
              examples:
                BulkCVELookup200Example:
                  summary: Default bulkCVELookup 200 response
                  x-microcks-default: true
                  value:
                    - id: CVE-2024-12345
                      details:
                        vulnerability_name: Sample Vulnerability
                        vulnerability_description: This vulnerability allows remote attackers to execute arbitrary code.
                        cve_cvss_score: 7.5
                        product: Sample Product
                        vendor: Sample Vendor
                        published_to_nist_nvd: true
                      timeline:
                        cve_published_date: '2024-01-01'
                        cve_last_updated_date: '2024-01-02'
                        first_known_published_date: '2024-01-01'
                        cisa_kev_date_added: '2024-01-03'
                      exploitation_details:
                        attack_vector: Network
                        exploit_found: true
                        exploitation_registered_in_kev: true
                        epss_score: 0.8
                      exploitation_stats:
                        number_of_available_exploits: 5
                        number_of_threat_actors_exploiting_vulnerability: 3
                        number_of_botnets_exploiting_vulnerability: 2
                      exploitation_activity:
                        activity_seen: true
                        benign_ip_count_1d: 100
                        benign_ip_count_10d: 500
                        benign_ip_count_30d: 1000
                        threat_ip_count_1d: 10
                        threat_ip_count_10d: 50
                        threat_ip_count_30d: 100
        '400':
          description: "Bad request - invalid CVE format or too many CVEs requested.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Maximum number of CVEs per request is 10000
        '403':
          description: "Forbidden - bulk CVE search requires a business email address.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Bulk CVE search is only available to users with a business email address. Sign up with your work email (e.g., you@company.com) to continue.
        '429':
          description: Too many requests. You've hit the rate-limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                BulkCVELookup429Example:
                  summary: Default bulkCVELookup 429 response
                  x-microcks-default: true
                  value:
                    message: Success
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/gnql:
    get:
      tags:
        - GNQL
      summary: GNQL V3 Query
      operationId: gnqlV3Query
      description: "GreyNoise Query Language\nGNQL (GreyNoise Query Language) is a domain-specific query language\nthat uses Lucene deep under the hood. GNQL aims to enable GreyNoise\nEnterprise and Research users to make complex and one-off queries\nagainst the GreyNoise dataset as new business cases arise. GNQL is\nbuilt with self-defeat and fully featured product lines in mind. If\nwe do our job correctly, each individual GNQL query that brings our\nusers and customers sufficient value will eventually be transitioned\ninto it's own individual offering.\n_License: The `business_service_intelligence` response field\nrequires the BSI Module. Without it, every result returns an empty\n`business_service_intelligence` object; all other fields are\nreturned normally._\nFacets:\n* `ip` - The IP address of the scanning device IP\n* `classification` - Whether the device has been categorized as\nunknown, benign, or malicious\n* `first_seen` - The date the device was first observed by GreyNoise\n* `last_seen` - The date the device was most recently observed\nby GreyNoise\n* `actor` - The benign actor the device has been associated with,\nsuch as Shodan, Censys, GoogleBot, etc\n* `tags` - A list of the tags the device has been assigned over the\npast 90 days\n* `spoofable` - This IP address has been opportunistically scanning the\nInternet, however has failed to complete a full TCP connection. Any\nreported activity could be spoofed.\n* `vpn` - This IP is associated with a VPN service. Activity, malicious\nor otherwise, should not be attributed to the VPN service provider.\n* `vpn_service` - The VPN service the IP is associated with\n* `tor` - Whether or not the device is a known Tor exit node\n* `cve` - A list of CVEs that the device has been associated with\n* `single_destination` - A boolean parameter that filters source country\nIPs that have only been observed in a single destination country\n* `metadata.category` - Whether the device belongs to a business, isp,\nhosting, education, or mobile network\n* `metadata.carrier` - The Internet Service Provider (ISP) or telecommunications carrier\nassociated with the source IP address\n* `metadata.country` - The full name of the country the device is\ngeographically located in (This is the same data as\n`metadata.source_country`. `metadata.source_country` is preferred)\n* `metadata.country_code` - The two-character country code of the\ncountry the device is geographically located in (This is the same data\nas `metadata.source_country_code`. `metadata.source_country_code`\nis preferred)\n* `metadata.datacenter` - The datacenter or hosting provider from which the activity originates.\nThis could indicate the use of cloud services, managed hosting,\nor enterprise datacenter infrastructure.\n* `metadata.domain` - The domain name associated with the source IP address\n* `metadata.sensor_hits` - The amount of unique data that has been recorded by the sensor\n* `metadata.sensor_count` - The number of sensors the IP Address has been observed on\n* `metadata.city` - The city the device is geographically located in\n* `metadata.region` - The region the device is geographically located in\n* `metadata.organization` - The organization that owns the network that\nthe IP address belongs to\n* `metadata.rdns` - The reverse DNS pointer of the IP\n* `metadata.asn` - The autonomous system the IP address belongs to\n* `metadata.destination_cities` - The city where the GreyNoise sensor is geographically located\n* `metadata.destination_asns` - The ASN associated with the destination IP address\n* `metadata.destination_countries` - The full country name where the GreyNoise\nsensors are physically located\n* `metadata.destination_country_codes` - The country code where the GreyNoise\nsensors are physically located\n* `metadata.destination_country` - The full country name where the GreyNoise\nsensors are physically located\n* `metadata.destination_country_code` - The country code where the GreyNoise\nsensors are physically located\n* `metadata.latitude` - The geographic latitude of the source IP address\n* `metadata.longitude`
        - The geographic longitude of the source IP address\n* `metadata.rdns_parent` - The parent domain retrieved through reverse DNS (RDNS)\nlookup of the source IP address\n* `metadata.rdns_validated` - A validation status that confirms whether the\nreverse DNS (RDNS) record correctly maps to the source domain\n* `metadata.source_country_code` - The two-character country code of the\ncountry the device is geographically located in\n* `metadata.source_country` - The full name of the country the device is\ngeographically located in\n* `raw_data.scan.port` - The port being targeted on a GreyNoise sensor\n* `raw_data.scan.protocol` - The protocol of the port the device has\nbeen observed scanning\n* `raw_data.web.paths` - Any HTTP paths the device has been observed\ncrawling the Internet for\n* `raw_data.web.useragents` - Any HTTP user-agents the device has been\nobserved using while crawling the Internet\n* `raw_data.ja3.fingerprint` - The JA3 TLS/SSL fingerprint\n* `raw_data.ja3.port` - The corresponding TCP port for the given JA3\nfingerprint\n* `raw_data.hassh.fingerprint` - The HASSH fingerprint\n* `raw_data.hassh.port` - The corresponding TCP port for the given HASSH\nfingerprint\n* `raw_data.http.md5` - An MD5 hash of the body content. This compact,\nunique representation of the data allows for quick comparisons and\ndeduplication of payloads without storing the raw content.\n* `raw_data.http.cookie_keys` - The keys or names of cookies exchanged in the\ncommunication. These can reveal session identifiers, tracking mechanisms,\nor other metadata used in web interactions,\nproviding clues about application behavior or vulnerabilities.\n* `raw_data.http.request_authorization` - The contents of the Authorization header in a request,\ntypically containing authentication credentials or tokens (e.g., Basic Auth, Bearer tokens).\nAnalyzing this helps verify authorization mechanisms and detect credential misuse or token abuse.\n* `raw_data.http.request_cookie` - Key-value pairs stored in cookies sent with an HTTP request.\nThese cookies often contain session identifiers, user preferences, or tracking data,\nwhich can be analyzed to detect unauthorized access or manipulation.\n* `raw_data.http.request_header` - Request Headers are the keys (names) of HTTP headers that a\nclient sends to a server.\n* `raw_data.http.request_method` - The HTTP method used in the request, such as GET, POST, PUT, or DELETE.\nAnalyzing methods can reveal the intent of the request, such as retrieving or modifying resources,\nand identify unexpected or suspicious activity.\n* `raw_data.http.request_origin` - Indicates the origin of the request, typically used in\ncross-origin resource sharing (CORS) to specify where the request originated.\nThis helps identify unauthorized or potentially malicious cross-origin requests.\n* `raw_data.tls.cipher` - The encryption algorithm or cipher suite used during\nthe secure communication. Identifying the cipher helps assess the\nsecurity of the connection, particularly in TLS/SSL traffic.\n* `raw_data.tls.ja4` - JA4 TLS fingerprint. JA4 captures distinctive\ncharacteristics of TLS client behavior, useful for identifying and\nclustering malicious or anomalous clients.\n* `raw_data.http.ja4h` - JA4H HTTP client fingerprint. Captures\ncharacteristics of HTTP client behavior including method, headers,\nand cookie fields, useful for identifying and tracking HTTP clients.\n* `raw_data.ssh.ja4ssh` - JA4SSH fingerprint. Captures SSH traffic\npatterns including packet lengths and directions, useful for\nidentifying SSH client behavior and detecting anomalous sessions.\n* `raw_data.tcp.ja4t` - JA4T TCP fingerprint. Captures TCP\nconnection characteristics such as window size, options, and MSS,\nuseful for OS fingerprinting and identifying network stacks.\n* `raw_data.tcp.ja4l` - JA4L light distance/latency fingerprint.\nCaptures TCP TTL and window size characteristics, useful for\nestimating client-server distance and identifying proxied connections.\nBehavior:\n* `raw_data.ssh.key` - This is the SSH key used.\n* You can subtract
        facets by prefacing the query with a minus character\n* The data that this endpoint queries refreshes once per hour\nShortcuts:\n* You can find interesting hosts by using the GNQL query term\n`interesting`\n* You can use the keyword `today` in the `first_seen` and\n`last_seen` parameters: `last_seen:today` or `first_seen:today`\nExamples:\n* `last_seen:today` - Returns all IPs scanning/crawling the\nInternet today\n* `tags:Mirai` - Returns all devices with the \"Mirai\" tag\n* `tags:\"RDP Scanner\"` - Returns all devices with the \"RDP\nScanner\" tag\n* `classification:malicious metadata.country:Belgium`\n- Returns all compromised devices located in Belgium\n* `classification:malicious metadata.rdns:*.gov*` - Returns\nall compromised devices that include .gov in their reverse DNS records\n* `metadata.organization:Microsoft classification:malicious`\n- Returns all compromised devices that belong to Microsoft\n* `(raw_data.scan.port:445 and raw_data.scan.protocol:TCP)\nmetadata.os:Windows*` - Return all devices scanning the Internet\nfor port 445/TCP running Windows operating systems\n(Conficker/EternalBlue/WannaCry)\n* `raw_data.scan.port:554` - Returns all devices scanning the\nInternet for port 554\n* `-metadata.organization:Google raw_data.web.useragents:GoogleBot`\n- Returns all devices crawling the Internet with \"GoogleBot\" in\ntheir useragent from a network that does NOT belong to Google\n* `tags:\"Siemens PLC Scanner\" -classification:benign` - Returns\nall devices scanning the Internet for SCADA devices who ARE\nNOT tagged by GreyNoise as \"benign\"\n(Shodan/Project Sonar/Censys/Google/Bing/etc)\n* `classification:benign` - Returns all \"good guys\" scanning\nthe Internet\n* `raw_data.ja3.fingerprint:795bc7ce13f60d61e9ac03611dd36d90`\n- Returns all devices crawling the Internet with a matching\nclient JA3 TLS/SSL fingerprint\n* `raw_data.hassh.fingerprint:51cba57125523ce4b9db67714a90bf6e`\n- Returns all devices crawling the Internet with a matching\nclient HASSH fingerprint\n* `raw_data.tls.ja4:t13d1516h2_8daaf6152771_02713d6af862`\n- Returns all devices with a matching JA4 TLS fingerprint\n* `raw_data.http.ja4h:ge11cn060000_4e59edc1297a_4da5efaf0cbd`\n- Returns all devices with a matching JA4H HTTP fingerprint\n* `raw_data.ssh.ja4ssh:c76s76_c71s59_c0s0`\n- Returns all devices with a matching JA4SSH fingerprint\n* `raw_data.tcp.ja4t:64240_2-1-3-1-1-4_1460_8`\n- Returns all devices with a matching JA4T TCP fingerprint\n* `raw_data.tcp.ja4l:1460_64`\n- Returns all devices with a matching JA4L light\ndistance/latency fingerprint\n* `raw_data.web.paths:\"/HNAP1/\"` -Returns all devices crawling\nthe Internet for the HTTP path \"/HNAP1/\"\n* `8.0.0.0/8` - Returns all devices scanning the Internet from\nthe CIDR block 8.0.0.0/8\n* `cve:CVE-2021-30461` - Returns all devices associated with the\nsupplied CVE\n* `source_country:Iran` - Returns all results originating from Iran\n* `destination_country:Ukraine single_destination:true`\n- Returns all results scanning in only Ukraine\n"
      parameters:
        - $ref: '#/components/parameters/query'
        - in: query
          name: size
          description: The number of results provided per page for paginating through all results of a query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 10000
        - in: query
          name: scroll
          description: Scroll token to paginate through results. Incompatible with `format=csv`.
          required: false
          schema:
            type: string
        - in: query
          name: quick
          description: If true, the response will only include the IP address and the classification or trust level.
          required: false
          schema:
            type: boolean
            default: false
        - in: query
          name: format
          description: Specifies the desired format of the results. Must be either csv or json.
          required: false
          schema:
            type: string
            enum:
              - csv
              - json
            default: json
        - in: query
          name: exclude
          description: "Comma-separated list of fields to exclude from the response.\nRecognized top-level response fields (e.g. `tags`, `cves`, `vpn`, `tor`, `raw_data`, `metadata`),\n`metadata.<subfield>` paths (e.g. `metadata.organization`, `metadata.source_country`,\n`metadata.destination_countries`), and `raw_data.<subfield>` paths (e.g. `raw_data.ja3`,\n`raw_data.http.useragent`) are accepted. The special value `tags.details` preserves tag\nidentity (id, slug) and strips only the enriched details. Unknown field names return 400.\n"
          required: false
          schema:
            type: string
            example: metadata.organization,metadata.city,raw_data.ja3
      responses:
        '200':
          description: OK - request successful.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/GNQLV3Response'
                  - $ref: '#/components/schemas/QuickGNQLV3Response'
              examples:
                GnqlV3Query200Example:
                  summary: Default gnqlV3Query 200 response
                  x-microcks-default: true
                  value:
                    request_metadata:
                      complete: false
                      scroll: "DnF1ZXJ5VGhlbkZldGNoBQAAAAAAeygtFkFKSExEdUc4VEtta2syaGg2R3kzNGcAAAAAAH soLhZBSkhMRHVHOFRLbWtrMmhoNkd5MzRnAAAAAAB7KC8WQUpITER1RzhUS21razJoaDZH eTM0ZwAAAAAAeygxFkFKSExEdUc4VEtta2syaGg2R3kzNGcAAAAAAHsoMBZBSkhMRHVHOF RLbWtrMmhoNkd5MzRn\n"
                      query: last_seen:2019-07-28 classification:malicious
                      adjusted_query: last_seen:2019-07-28 classification:malicious
                      count: 1
                      message: ok
                      restricted_fields: &id004
                        - ip
                        - asn
                        - organization
                        - country
                        - city
                        - region
                    data: &id005 []
        '206':
          description: "Partial content - request partially successful.\nDue to plan limitations, your request only returned a subset of\nfields and/or data. Contact sales@greynoise.io to upgrade your\nplan and unlock full results.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GNQLV3Response'
              examples:
                GnqlV3Query206Example:
                  summary: Default gnqlV3Query 206 response
                  x-microcks-default: true
                  value:
                    request_metadata:
                      complete: false
                      scroll: "DnF1ZXJ5VGhlbkZldGNoBQAAAAAAeygtFkFKSExEdUc4VEtta2syaGg2R3kzNGcAAAAAAH soLhZBSkhMRHVHOFRLbWtrMmhoNkd5MzRnAAAAAAB7KC8WQUpITER1RzhUS21razJoaDZH eTM0ZwAAAAAAeygxFkFKSExEdUc4VEtta2syaGg2R3kzNGcAAAAAAHsoMBZBSkhMRHVHOF RLbWtrMmhoNkd5MzRn\n"
                      query: last_seen:2019-07-28 classification:malicious
                      adjusted_query: last_seen:2019-07-28 classification:malicious
                      count: 1
                      message: ok
                      restricted_fields: *id004
                    data: *id005
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/ExceededLimit'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/gnql/metadata:
    get:
      tags:
        - GNQL
      summary: GNQL V3 Metadata Query
      operationId: gnqlV3MetadataQuery
      description: "GreyNoise Query Language Metadata Endpoint\nThis endpoint provides the same functionality as the main GNQL endpoint\nbut with additional field filtering capabilities. It automatically excludes\nraw data from responses and allows you to specify additional fields to exclude.\n\nThe metadata endpoint is designed for use cases where you need to retrieve\nIP intelligence data without the raw scan data, making it more efficient\nfor metadata-focused queries.\n\n_License: The `business_service_intelligence` response field\nrequires the BSI Module. Without it, every result returns an empty\n`business_service_intelligence` object; all other fields are\nreturned normally._\n"
      parameters:
        - $ref: '#/components/parameters/query'
        - in: query
          name: size
          description: The number of results provided per page for paginating through all results of a query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 10000
        - in: query
          name: scroll
          description: Scroll token to paginate through results
          required: false
          schema:
            type: string
        - in: query
          name: quick
          description: If true, the response will only include the IP address and the classification or trust level.
          required: false
          schema:
            type: boolean
            default: false
        - in: query
          name: exclude
          description: "Comma-separated list of additional fields to exclude from the response.\n`raw_data` is always excluded by this endpoint; specifying it is redundant.\nRecognized top-level response fields (e.g. `tags`, `cves`, `vpn`, `tor`, `metadata`)\nand `metadata.<subfield>` paths (e.g. `metadata.organization`, `metadata.source_country`,\n`metadata.destination_countries`) are accepted. The special value `tags.details`\npreserves tag identity (id, slug) and strips only the enriched details. Unknown\nfield names return 400.\n"
          required: false
          schema:
            type: string
            example: metadata.organization,metadata.city,metadata.rdns
      responses:
        '200':
          description: OK - request successful.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/GNQLV3Response'
                  - $ref: '#/components/schemas/QuickGNQLV3Response'
              examples:
                GnqlV3MetadataQuery200Example:
                  summary: Default gnqlV3MetadataQuery 200 response
                  x-microcks-default: true
                  value:
                    request_metadata:
                      complete: false
                      scroll: "DnF1ZXJ5VGhlbkZldGNoBQAAAAAAeygtFkFKSExEdUc4VEtta2syaGg2R3kzNGcAAAAAAH soLhZBSkhMRHVHOFRLbWtrMmhoNkd5MzRnAAAAAAB7KC8WQUpITER1RzhUS21razJoaDZH eTM0ZwAAAAAAeygxFkFKSExEdUc4VEtta2syaGg2R3kzNGcAAAAAAHsoMBZBSkhMRHVHOF RLbWtrMmhoNkd5MzRn\n"
                      query: last_seen:2019-07-28 classification:malicious
                      adjusted_query: last_seen:2019-07-28 classification:malicious
                      count: 1
                      message: ok
                      restricted_fields: *id004
                    data: *id005
        '206':
          description: "Partial content - request partially successful.\nDue to plan limitations, your request only returned a subset of\nfields and/or data. Contact sales@greynoise.io to upgrade your\nplan and unlock full results.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GNQLV3Response'
              examples:
                GnqlV3MetadataQuery206Example:
                  summary: Default gnqlV3MetadataQuery 206 response
                  x-microcks-default: true
                  value:
                    request_metadata:
                      complete: false
                      scroll: "DnF1ZXJ5VGhlbkZldGNoBQAAAAAAeygtFkFKSExEdUc4VEtta2syaGg2R3kzNGcAAAAAAH soLhZBSkhMRHVHOFRLbWtrMmhoNkd5MzRnAAAAAAB7KC8WQUpITER1RzhUS21razJoaDZH eTM0ZwAAAAAAeygxFkFKSExEdUc4VEtta2syaGg2R3kzNGcAAAAAAHsoMBZBSkhMRHVHOF RLbWtrMmhoNkd5MzRn\n"
                      query: last_seen:2019-07-28 classification:malicious
                      adjusted_query: last_seen:2019-07-28 classification:malicious
                      count: 1
                      message: ok
                      restricted_fields: *id004
                    data: *id005
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/ExceededLimit'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/gnql/stats:
    get:
      tags:
        - GNQL
      summary: GNQL V3 Stats
      operationId: gnqlV3Stats
      description: "Get aggregate statistics for the top organizations, actors, tags,\nASNs, countries, classifications, and operating systems of all the\nresults of a given GNQL query.\n"
      parameters:
        - $ref: '#/components/parameters/query'
        - in: query
          name: count
          description: Number of top aggregates to grab
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1000
      responses:
        '200':
          description: Query successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GNQLStats'
              examples:
                GnqlV3Stats200Example:
                  summary: Default gnqlV3Stats 200 response
                  x-microcks-default: true
                  value:
                    query: last_seen:2019-07-28 classification:malicious
                    count: 50000
                    adjusted_query: last_seen:2019-07-28 classification:malicious last_seen:7d
                    stats:
                      classifications:
                        - classification: malicious
                          count: 5000
                      spoofable:
                        - spoofable: false
                          count: 5000
                      organizations:
                        - organization: DigitalOcean, LLC
                          count: 5000
                      actors:
                        - actor: Shodan.io
                          count: 5000
                      countries:
                        - country: United States
                          count: 5000
                      source_countries:
                        - country: United States
                          count: 5000
                      destination_countries:
                        - country: United States
                          count: 5000
                      tags:
                        - tag: SSH Bruteforcer
                          id: 4c076d9c-be48-4bd1-bec4-6005e06c0f89
                          count: 5000
                      operating_systems:
                        - operating_system: Windows 7/8
                          count: 5000
                      categories:
                        - category: education
                          count: 5000
                      asns:
                        - asn: AS4134
                          count: 5000
        '206':
          description: "Partial content - request partially successful.\nDue to plan limitations, your request only returned a subset of\nfields and/or data. The `adjusted_query` field in the response\nindicates how the original query was modified. Contact\nsales@greynoise.io to upgrade your plan and unlock full results.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GNQLStats'
              examples:
                GnqlV3Stats206Example:
                  summary: Default gnqlV3Stats 206 response
                  x-microcks-default: true
                  value:
                    query: last_seen:2019-07-28 classification:malicious
                    count: 50000
                    adjusted_query: last_seen:2019-07-28 classification:malicious last_seen:7d
                    stats:
                      classifications:
                        - classification: malicious
                          count: 5000
                      spoofable:
                        - spoofable: false
                          count: 5000
                      organizations:
                        - organization: DigitalOcean, LLC
                          count: 5000
                      actors:
                        - actor: Shodan.io
                          count: 5000
                      countries:
                        - country: United States
                          count: 5000
                      source_countries:
                        - country: United States
                          count: 5000
                      destination_countries:
                        - country: United States
                          count: 5000
                      tags:
                        - tag: SSH Bruteforcer
                          id: 4c076d9c-be48-4bd1-bec4-6005e06c0f89
                          count: 5000
                      operating_systems:
                        - operating_system: Windows 7/8
                          count: 5000
                      categories:
                        - category: education
                          count: 5000
                      asns:
                        - asn: AS4134
                          count: 5000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/ExceededLimit'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/gnql/timeseries:
    get:
      tags:
        - Recall
      summary: GNQL V3 Recall
      operationId: gnqlTimeSeries
      description: "Get hourly GNQL records for a given time range.\n"
      parameters:
        - $ref: '#/components/parameters/query'
        - in: query
          name: start
          description: Start date for the desired time range
          required: false
          schema:
            type: string
            format: date-time
          example: '2025-01-01T00:00:00Z'
        - in: query
          name: end
          description: End date for the desired time range
          required: false
          schema:
            type: string
            format: date-time
          example: '2025-01-07T23:59:59Z'
        - in: query
          name: format
          description: Specifies the desired format of the results. Must be either csv or json.
          required: false
          schema:
            type: string
            enum:
              - csv
              - json
            default: json
        - in: query
          name: limit
          description: Specifies the number of records desired from the backend query. For example, if you specify a limit of 100, you will get the first 100 records for your query, divided up by hour.
          required: false
          schema:
            type: integer
        - in: query
          name: offset
          description: Specifies the offset at which to apply the limit. With limit, can be used to paginate through a large response. For example, if you specify a limit of 100 and and an offset of 200, you will get the next 100 records starting at the 200th record.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Query successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
              examples:
                GnqlTimeSeries200Example:
                  summary: Default gnqlTimeSeries 200 response
                  x-microcks-default: true
                  value: &id006
                    2025-11-10-14:
                      - ip: 203.0.113.45
                        internet_scanner_intelligence:
                          first_seen: '2018-01-28'
                          last_seen: '2018-02-28'
                          found: true
                          tags:
                            - Mirai
                            - Telnet Worm
                          actor: Shodan.io
                          spoofable: true
                          classification: benign
                          cves:
                            - CVE-2020-1234
                            - CVE-2021-2345
                          vpn: true
                          vpn_service: IPVANISH_VPN
                          tor: false
                          last_seen_timestamp: '2025-01-15T12:30:45Z'
                          metadata:
                            asn: AS13335
                            source_country: United States
                            source_country_code: US
                            organization: Example Hosting
                          raw_data:
                            scan:
                              - port: 22
                                protocol: tcp
        '206':
          description: "Partial content - request partially successful.\nDue to plan limitations, your request only returned a subset of\nfields and/or data. Contact sales@greynoise.io to upgrade your\nplan and unlock full results.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
              examples:
                GnqlTimeSeries206Example:
                  summary: Default gnqlTimeSeries 206 response
                  x-microcks-default: true
                  value: *id006
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/ExceededLimit'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/gnql/timeseries/stats:
    get:
      tags:
        - Recall
      summary: GNQL V3 Recall Stats
      operationId: gnqlTimeSeriesStats
      description: "Get the number of unique IPs that match a GNQL query\nper hour/day over a given time range.\n"
      parameters:
        - $ref: '#/components/parameters/query'
        - in: query
          name: start
          description: Start date for the desired time range
          required: false
          schema:
            type: string
            format: date-time
          example: '2025-01-01T00:00:00Z'
        - in: query
          name: end
          description: End date for the desired time range
          required: false
          schema:
            type: string
            format: date-time
          example: '2025-01-07T23:59:59Z'
        - in: query
          name: format
          description: Specifies the desired format of the results. Must be either csv or json.
          required: false
          schema:
            type: string
            enum:
              - csv
              - json
            default: json
        - in: query
          name: interval
          description: Specifies the time interval over which to aggregate unique IPs that return the given GNQL query.
          required: true
          schema:
            type: string
            enum:
              - hour
              - day
      responses:
        '200':
          description: Query successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesStatsResponse'
              examples:
                GnqlTimeSeriesStats200Example:
                  summary: Default gnqlTimeSeriesStats 200 response
                  x-microcks-default: true
                  value: &id007
                    count: 1500
                    min: 10
                    max: 250
                    data:
                      - date: '2025-11-10 14:00:00.000'
                        count: 125
                      - date: '2025-11-10 15:00:00.000'
                        count: 250
                      - date: '2025-11-10 16:00:00.000'
                        count: 180
        '206':
          description: "Partial content - request partially successful.\nDue to plan limitations, your request only returned a subset of\nfields and/or data. Contact sales@greynoise.io to upgrade your\nplan and unlock full results.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesStatsResponse'
              examples:
                GnqlTimeSeriesStats206Example:
                  summary: Default gnqlTimeSeriesStats 206 response
                  x-microcks-default: true
                  value: *id007
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/ExceededLimit'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/ip:
    post:
      tags:
        - IP Lookup
      summary: IP Lookup - Multi
      operationId: V3MultiIP
      description: "Retrieves information about the submitted set of IP addresses\nfrom the Internet Scanner and Business Service intelligence datasets\n(consolidated response based on subscription entitlements).\nReturns time ranges, IP metadata (network owner, ASN, reverse DNS pointer, country),\nassociated actors, tags, raw port scan data, web request information,\nclassification and/or trust level, and provider information.\n\nUse the `quick` parameter to return a subset of the response fields, for a faster response time.\n\nCan process up to 10,000 IPs per request.\n"
      requestBody:
        $ref: '#/components/requestBodies/MultiIpRequest'
      parameters:
        - in: query
          name: quick
          description: If true, the response will only include the IP address and the classification or trust level.
          required: false
          schema:
            type: boolean
            default: false
        - $ref: '#/components/parameters/workspaceLabels'
      responses:
        '200':
          description: OK - request successful.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/MultiIPResponseV3'
                  - $ref: '#/components/schemas/QuickMultiIPResponseV3'
              examples:
                V3MultiIP200Example:
                  summary: Default V3MultiIP 200 response
                  x-microcks-default: true
                  value:
                    data:
                      - ip: 8.8.8.8
                        business_service_intelligence:
                          found: true
                          category: hosting
                          name: example.com
                          description: example.com
                          explanation: string
                          last_updated: '2025-01-15T12:30:45Z'
                          reference: https://example.com
                          trust_level: '1'
                        internet_scanner_intelligence:
                          ip: 71.6.135.131
                          seen: true
                          classification: benign
                          first_seen: '2018-01-28'
                          last_seen: '2018-02-28'
                          last_seen_timestamp: '2025-01-15T12:30:45Z'
                          found: true
                          actor: Shodan.io
                          spoofable: true
                          cves: &id008
                            - CVE-2020-1234
                            - CVE-2021-2345
                          tor: false
                          vpn: true
                          vpn_service: IPVANISH_VPN
                          metadata:
                            mobile: false
                            source_country: United States
                            source_country_code: US
                            source_city: Seattle
                            region: Seattle
                            organization: DigitalOcean, LLC
                            rdns: crawl-66-249-79-17.googlebot.com
                            asn: AS521
                            category: education
                            os: Windows 7/8
                            destination_countries: &id009
                              - string
                            destination_country_codes: &id010
                              - US
                            destination_cities: &id011
                              - string
                            destination_asns: &id012
                              - string
                            single_destination: true
                            carrier: AIS
                            datacenter: us-west-1
                            domain: example.com
                            rdns_parent: example.com
                            rdns_validated: true
                            latitude: 37.7749
                            longitude: -122.4194
                            sensor_count: 10
                            sensor_hits: 10
                          tags:
                            id: ef0cc90d-d80c-436f-92c5-3d8f8665c9ac
                            slug: mirai
                            name: Mirai
                            category: worm
                            intention: malicious
                            description: This IP address exhibits behavior that indicates it is infected with Mirai or a Mirai-like variant of malware.
                            references: &id013
                              - string
                            recommend_block: false
                            cves: &id014
                              - CVE-2021-44228
                            created_at: '2020-04-07'
                            updated_at: '2020-04-07'
                          raw_data:
                            scan:
                              - port: 80
                                protocol: TCP
                            ja3:
                              - fingerprint: c3a6cf0bf2e690ac8e1ecf6081f17a50
                                port: 443
                            hassh:
                              - fingerprint: 51cba57125523ce4b9db67714a90bf6e
                                port: 2222
                            http:
                              md5: 9764955b67107eeb9edfae76f429e783
                              cookie_keys: &id015
                                - expremotekey
                              request_authorization: &id016
                                - Bearer exampletoken
                                - Basic username:password
                              request_cookies: &id017
                                - session_id=1234567890
                              request_header: &id018
                                - 'Content-Type: application/json'
                                - 'Accept: application/json'
                              method: &id019
                                - GET
                                - POST
                                - PUT
                                - DELETE
                              request_origin: &id020
                                - 111.111.1.1
                              host: &id021
                                - example.com
                                - example.com:8080
                              uri: &id022
                                - string
                              path: &id023
                                - /HNAP1/
                              useragent: &id024
                                - Mozilla/5.0 (compatible; GoogleBot/2.1; +http://www.google.com/bot.html)
                              ja4h: &id025
                                - ge11cn060000_4e59edc1297a_4da5efaf0cbd
                            tls:
                              cipher: TLS_AES_128_GCM_SHA256
                              ja4: &id026
                                - t13d1516h2_8daaf6152771_02713d6af862
                            ssh:
                              key: &id027
                                - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC1234567890
                              ja4ssh: &id028
                                - c76s76_c71s59_c0s0
                            tcp:
                              ja4t: &id029
                                - 64240_2-1-3-1-1-4_1460_8
                              ja4l: '1460_64'
                            source: string
                    request_metadata:
                      restricted_fields: &id030
                        - ip
                        - cve
                        - destination_cities
                      message: ok
                      ips_not_found: &id031
                        - string
        '206':
          description: "Partial content - request partially successful.\nDue to plan limitations, your request only returned a subset of\nfields and/or data. Contact sales@greynoise.io to upgrade your\nplan and unlock full results.\n"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/MultiIPResponseV3'
                  - $ref: '#/components/schemas/QuickMultiIPResponseV3'
              examples:
                V3MultiIP206Example:
                  summary: Default V3MultiIP 206 response
                  x-microcks-default: true
                  value:
                    data:
                      - ip: 8.8.8.8
                        business_service_intelligence:
                          found: true
                          category: hosting
                          name: example.com
                          description: example.com
                          explanation: string
                          last_updated: '2025-01-15T12:30:45Z'
                          reference: https://example.com
                          trust_level: '1'
                        internet_scanner_intelligence:
                          ip: 71.6.135.131
                          seen: true
                          classification: benign
                          first_seen: '2018-01-28'
                          last_seen: '2018-02-28'
                          last_seen_timestamp: '2025-01-15T12:30:45Z'
                          found: true
                          actor: Shodan.io
                          spoofable: true
                          cves: *id008
                          tor: false
                          vpn: true
                          vpn_service: IPVANISH_VPN
                          metadata:
                            mobile: false
                            source_country: United States
                            source_country_code: US
                            source_city: Seattle
                            region: Seattle
                            organization: DigitalOcean, LLC
                            rdns: crawl-66-249-79-17.googlebot.com
                            asn: AS521
                            category: education
                            os: Windows 7/8
                            destination_countries: *id009
                            destination_country_codes: *id010
                            destination_cities: *id011
                            destination_asns: *id012
                            single_destination: true
                            carrier: AIS
                            datacenter: us-west-1
                            domain: example.com
                            rdns_parent: example.com
                            rdns_validated: true
                            latitude: 37.7749
                            longitude: -122.4194
                            sensor_count: 10
                            sensor_hits: 10
                          tags:
                            id: ef0cc90d-d80c-436f-92c5-3d8f8665c9ac
                            slug: mirai
                            name: Mirai
                            category: worm
                            intention: malicious
                            description: This IP address exhibits behavior that indicates it is infected with Mirai or a Mirai-like variant of malware.
                            references: *id013
                            recommend_block: false
                            cves: *id014
                            created_at: '2020-04-07'
                            updated_at: '2020-04-07'
                          raw_data:
                            scan:
                              - port: 80
                                protocol: TCP
                            ja3:
                              - fingerprint: c3a6cf0bf2e690ac8e1ecf6081f17a50
                                port: 443
                            hassh:
                              - fingerprint: 51cba57125523ce4b9db67714a90bf6e
                                port: 2222
                            http:
                              md5: 9764955b67107eeb9edfae76f429e783
                              cookie_keys: *id015
                              request_authorization: *id016
                              request_cookies: *id017
                              request_header: *id018
                              method: *id019
                              request_origin: *id020
                              host: *id021
                              uri: *id022
                              path: *id023
                              useragent: *id024
                              ja4h: *id025
                            tls:
                              cipher: TLS_AES_128_GCM_SHA256
                              ja4: *id026
                            ssh:
                              key: *id027
                              ja4ssh: *id028
                            tcp:
                              ja4t: *id029
                              ja4l: '1460_64'
                            source: string
                    request_metadata:
                      restricted_fields: *id030
                      message: ok
                      ips_not_found: *id031
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/ExceededLimit'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/ip/{ip}:
    get:
      tags:
        - IP Lookup
      summary: IP Lookup
      operationId: V3IP
      description: "Get more information about a given IP address. Returns time ranges,\nIP metadata (network owner, ASN, reverse DNS pointer, country),\nassociated actors, activity tags, and raw port scan and web\nrequest information.\n\nUse the `quick` parameter to return a subset of the response fields, for a faster response time.\n"
      parameters:
        - $ref: '#/components/parameters/ip'
        - in: query
          name: quick
          description: If true, the response will only include the IP address and the classification or trust level.
          required: false
          schema:
            type: boolean
            default: false
        - $ref: '#/components/parameters/workspaceLabels'
      responses:
        '200':
          description: OK - request successful.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/IPResponseV3'
                  - $ref: '#/components/schemas/QuickIpProfile'
              examples:
                V3IP200Example:
                  summary: Default V3IP 200 response
                  x-microcks-default: true
                  value:
                    ip: 8.8.8.8
                    business_service_intelligence:
                      found: true
                      category: hosting
                      name: example.com
                      description: example.com
                      explanation: string
                      last_updated: '2025-01-15T12:30:45Z'
                      reference: https://example.com
                      trust_level: '1'
                    internet_scanner_intelligence:
                      ip: 71.6.135.131
                      seen: true
                      classification: benign
                      first_seen: '2018-01-28'
                      last_seen: '2018-02-28'
                      last_seen_timestamp: '2025-01-15T12:30:45Z'
                      found: true
                      actor: Shodan.io
                      spoofable: true
                      cves: *id008
                      tor: false
                      vpn: true
                      vpn_service: IPVANISH_VPN
                      metadata:
                        mobile: false
                        source_country: United States
                        source_country_code: US
                        source_city: Seattle
                        region: Seattle
                        organization: DigitalOcean, LLC
                        rdns: crawl-66-249-79-17.googlebot.com
                        asn: AS521
                        category: education
                        os: Windows 7/8
                        destination_countries: *id009
                        destination_country_codes: *id010
                        destination_cities: *id011
                        destination_asns: *id012
                        single_destination: true
                        carrier: AIS
                        datacenter: us-west-1
                        domain: example.com
                        rdns_parent: example.com
                        rdns_validated: true
                        latitude: 37.7749
                        longitude: -122.4194
                        sensor_count: 10
                        sensor_hits: 10
                      tags:
                        id: ef0cc90d-d80c-436f-92c5-3d8f8665c9ac
                        slug: mirai
                        name: Mirai
                        category: worm
                        intention: malicious
                        description: This IP address exhibits behavior that indicates it is infected with Mirai or a Mirai-like variant of malware.
                        references: *id013
                        recommend_block: false
                        cves: *id014
                        created_at: '2020-04-07'
                        updated_at: '2020-04-07'
                      raw_data:
                        scan:
                          - port: 80
                            protocol: TCP
                        ja3:
                          - fingerprint: c3a6cf0bf2e690ac8e1ecf6081f17a50
                            port: 443
                        hassh:
                          - fingerprint: 51cba57125523ce4b9db67714a90bf6e
                            port: 2222
                        http:
                          md5: 9764955b67107eeb9edfae76f429e783
                          cookie_keys: *id015
                          request_authorization: *id016
                          request_cookies: *id017
                          request_header: *id018
                          method: *id019
                          request_origin: *id020
                          host: *id021
                          uri: *id022
                          path: *id023
                          useragent: *id024
                          ja4h: *id025
                        tls:
                          cipher: TLS_AES_128_GCM_SHA256
                          ja4: *id026
                        ssh:
                          key: *id027
                          ja4ssh: *id028
                        tcp:
                          ja4t: *id029
                          ja4l: '1460_64'
                        source: string
                    request_metadata:
                      restricted_fields: &id032
                        - ip
                        - cve
                        - destination_cities
        '206':
          description: "Partial content - request partially successful.\nDue to plan limitations, your request only returned a subset of\nfields and/or data. Contact sales@greynoise.io to upgrade your\nplan and unlock full results.\n"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/IPResponseV3'
                  - $ref: '#/components/schemas/QuickIpProfile'
              examples:
                V3IP206Example:
                  summary: Default V3IP 206 response
                  x-microcks-default: true
                  value:
                    ip: 8.8.8.8
                    business_service_intelligence:
                      found: true
                      category: hosting
                      name: example.com
                      description: example.com
                      explanation: string
                      last_updated: '2025-01-15T12:30:45Z'
                      reference: https://example.com
                      trust_level: '1'
                    internet_scanner_intelligence:
                      ip: 71.6.135.131
                      seen: true
                      classification: benign
                      first_seen: '2018-01-28'
                      last_seen: '2018-02-28'
                      last_seen_timestamp: '2025-01-15T12:30:45Z'
                      found: true
                      actor: Shodan.io
                      spoofable: true
                      cves: *id008
                      tor: false
                      vpn: true
                      vpn_service: IPVANISH_VPN
                      metadata:
                        mobile: false
                        source_country: United States
                        source_country_code: US
                        source_city: Seattle
                        region: Seattle
                        organization: DigitalOcean, LLC
                        rdns: crawl-66-249-79-17.googlebot.com
                        asn: AS521
                        category: education
                        os: Windows 7/8
                        destination_countries: *id009
                        destination_country_codes: *id010
                        destination_cities: *id011
                        destination_asns: *id012
                        single_destination: true
                        carrier: AIS
                        datacenter: us-west-1
                        domain: example.com
                        rdns_parent: example.com
                        rdns_validated: true
                        latitude: 37.7749
                        longitude: -122.4194
                        sensor_count: 10
                        sensor_hits: 10
                      tags:
                        id: ef0cc90d-d80c-436f-92c5-3d8f8665c9ac
                        slug: mirai
                        name: Mirai
                        category: worm
                        intention: malicious
                        description: This IP address exhibits behavior that indicates it is infected with Mirai or a Mirai-like variant of malware.
                        references: *id013
                        recommend_block: false
                        cves: *id014
                        created_at: '2020-04-07'
                        updated_at: '2020-04-07'
                      raw_data:
                        scan:
                          - port: 80
                            protocol: TCP
                        ja3:
                          - fingerprint: c3a6cf0bf2e690ac8e1ecf6081f17a50
                            port: 443
                        hassh:
                          - fingerprint: 51cba57125523ce4b9db67714a90bf6e
                            port: 2222
                        http:
                          md5: 9764955b67107eeb9edfae76f429e783
                          cookie_keys: *id015
                          request_authorization: *id016
                          request_cookies: *id017
                          request_header: *id018
                          method: *id019
                          request_origin: *id020
                          host: *id021
                          uri: *id022
                          path: *id023
                          useragent: *id024
                          ja4h: *id025
                        tls:
                          cipher: TLS_AES_128_GCM_SHA256
                          ja4: *id026
                        ssh:
                          key: *id027
                          ja4ssh: *id028
                        tcp:
                          ja4t: *id029
                          ja4l: '1460_64'
                        source: string
                    request_metadata:
                      restricted_fields: *id032
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/ExceededLimit'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/noise/ips/{ip}/timeline:
    parameters:
      - in: path
        name: ip
        description: "IPv4 address to look up Noise time series activity timeline for\n"
        schema:
          type: string
          example: 36.32.2.102
        required: true
      - in: query
        name: days
        description: Number of days to show data for
        schema:
          type: string
          example: '7'
          default: '1'
        required: false
      - in: query
        name: field
        description: Field over which to show activity breakdown
        schema:
          type: string
          enum:
            - destination_port
            - http_path
            - http_user_agent
            - source_asn
            - source_org
            - source_rdns
            - tag_ids
            - classification
          example: classification
          default: classification
        required: true
      - in: query
        name: granularity
        description: "Granularity of activity date ranges. This can be in hours (e.g. Xh)\nor days (Xd).\nValid hours are between 1 and 24. Valid days are between 1 and 90.\n"
        schema:
          type: string
          example: 8h
          default: 1d
        required: false
      - $ref: '#/components/parameters/workspaceLabels'
    get:
      operationId: getIPTimelineFieldSummary
      tags:
        - IP Timeline
      summary: IP Timeline Field Summary
      description: "Retrieve an IP address' summary of noise activity for a specific field.\n\n_License: This endpoint requires an additional subscription\nlicense to use._\n"
      responses:
        '200':
          description: Success - returns activity data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPTimelineResponse'
              examples:
                GetIPTimelineFieldSummary200Example:
                  summary: Default getIPTimelineFieldSummary 200 response
                  x-microcks-default: true
                  value:
                    results:
                      - data: 1
                        label: unknown
                        timestamp: '2023-01-23T00:00:00Z'
                    metadata:
                      ip: 36.32.2.102
                      field: classification
                      first_seen: '2022-06-15'
                      start: '2023-01-18T00:00:00Z'
                      end: '2023-01-25T21:55:18.486036894Z'
                      granularity: 1d
                      metric: count
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/sessions:
    get:
      tags:
        - Sessions
      summary: Get Sessions
      operationId: getSessions
      description: "Returns a paginated list of network sessions matching the query criteria.\nSessions represent individual network connections captured by GreyNoise sensors.\n"
      parameters:
        - $ref: '#/components/parameters/scope'
        - in: query
          name: start_time
          description: Start time for the query range (ISO 8601 format).
          required: true
          schema:
            type: string
            format: date-time
          example: '2025-01-01T00:00:00Z'
        - in: query
          name: end_time
          description: End time for the query range (ISO 8601 format).
          required: true
          schema:
            type: string
            format: date-time
          example: '2025-01-07T23:59:59Z'
        - in: query
          name: query
          description: Lucene query string to filter sessions.
          required: false
          schema:
            type: string
        - in: query
          name: page
          description: Page number for pagination.
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - in: query
          name: page_size
          description: Number of results per page.
          required: false
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
        - in: query
          name: sort_by
          description: Field to sort results by.
          required: false
          schema:
            type: string
            default: lastPacket
        - in: query
          name: sort_desc
          description: Whether to sort in descending order.
          required: false
          schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
      responses:
        '200':
          description: OK - request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionsResponse'
              examples:
                GetSessions200Example:
                  summary: Default getSessions 200 response
                  x-microcks-default: true
                  value:
                    sessions: &id043 []
                    total: 150
                    pagination:
                      page: 1
                      page_size: 25
                      sort_by: lastPacket
                      sort_desc: true
                    request_metadata:
                      start_time: '2025-01-01T00:00:00Z'
                      end_time: '2025-01-07T23:59:59Z'
                      query: tags:Mirai
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/ExceededLimit'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/sessions/connections:
    get:
      tags:
        - Sessions
      summary: Get Session Connections
      operationId: getSessionConnections
      description: "Returns a graph of connections between source and destination fields.\nUseful for visualizing network relationships and communication patterns.\n"
      parameters:
        - $ref: '#/components/parameters/scope'
        - in: query
          name: start_time
          description: Start time for the query range (ISO 8601 format).
          required: true
          schema:
            type: string
            format: date-time
          example: '2025-01-01T00:00:00Z'
        - in: query
          name: end_time
          description: End time for the query range (ISO 8601 format).
          required: true
          schema:
            type: string
            format: date-time
          example: '2025-01-07T23:59:59Z'
        - in: query
          name: query
          description: Lucene query string to filter sessions.
          required: false
          schema:
            type: string
        - in: query
          name: src_field
          description: Source field to aggregate on.
          required: false
          schema:
            type: string
            default: source.ip
        - in: query
          name: dest_field
          description: Destination field to aggregate on.
          required: false
          schema:
            type: string
            default: destination.ip
        - in: query
          name: max_nodes
          description: Maximum number of nodes to return.
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 10000
        - in: query
          name: min_connections
          description: Minimum number of connections to include a node.
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: OK - request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionConnectionsResponse'
              examples:
                GetSessionConnections200Example:
                  summary: Default getSessionConnections 200 response
                  x-microcks-default: true
                  value:
                    nodes: &id038 []
                    links: &id039 []
                    total: 250
                    request_metadata:
                      start_time: string
                      end_time: string
                      query: tags:Mirai
                      src_field: string
                      dest_field: string
                      max_nodes: 1
                      min_connections: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/ExceededLimit'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/sessions/counts:
    get:
      tags:
        - Sessions
      summary: Get Session Counts
      operationId: getSessionCounts
      description: "Returns aggregated counts of sessions grouped by the specified fields.\nUseful for building dashboards and understanding traffic distribution.\n"
      parameters:
        - $ref: '#/components/parameters/scope'
        - in: query
          name: start_time
          description: Start time for the query range (ISO 8601 format).
          required: true
          schema:
            type: string
            format: date-time
          example: '2025-01-01T00:00:00Z'
        - in: query
          name: end_time
          description: End time for the query range (ISO 8601 format).
          required: true
          schema:
            type: string
            format: date-time
          example: '2025-01-07T23:59:59Z'
        - in: query
          name: fields
          description: Comma-separated list of fields to aggregate on.
          required: true
          schema:
            type: string
          example: source.ip,destination.port
        - in: query
          name: query
          description: Lucene query string to filter sessions.
          required: false
          schema:
            type: string
        - in: query
          name: size
          description: Number of buckets per aggregation level.
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK - request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCountsResponse'
              examples:
                GetSessionCounts200Example:
                  summary: Default getSessionCounts 200 response
                  x-microcks-default: true
                  value:
                    items: &id040 []
                    total: 5000
                    request_metadata:
                      start_time: string
                      end_time: string
                      query: tags:Mirai
                      fields: &id041
                        - string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/ExceededLimit'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/sessions/export:
    get:
      tags:
        - Sessions
      summary: Export PCAP for Multiple Sessions
      operationId: exportSessionsPcap
      description: "Returns a PCAP file containing packets from sessions matching the query criteria.\nThe response is a binary PCAP file suitable for analysis with tools like Wireshark.\n\nNot available when `scope=demo` (returns 403).\n"
      parameters:
        - $ref: '#/components/parameters/scope'
        - in: query
          name: start_time
          description: Start time for the query range (ISO 8601 format).
          required: true
          schema:
            type: string
            format: date-time
          example: '2025-01-01T00:00:00Z'
        - in: query
          name: end_time
          description: End time for the query range (ISO 8601 format).
          required: true
          schema:
            type: string
            format: date-time
          example: '2025-01-07T23:59:59Z'
        - in: query
          name: query
          description: Lucene query string to filter sessions.
          required: false
          schema:
            type: string
        - in: query
          name: size
          description: Maximum number of sessions to include in the export.
          required: false
          schema:
            type: integer
            default: 100
        - in: query
          name: sort_by
          description: Field to sort results by.
          required: false
          schema:
            type: string
            default: lastPacket
        - in: query
          name: sort_desc
          description: Whether to sort in descending order.
          required: false
          schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
      responses:
        '200':
          description: PCAP file containing matching session packets.
          content:
            application/vnd.tcpdump.pcap:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
              example: attachment; filename="sessions.pcap"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/ExceededLimit'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/sessions/fields:
    get:
      tags:
        - Sessions
      summary: Get Session Fields
      operationId: getSessionFields
      description: "Returns the list of available session fields for querying and display.\nUse this to discover which fields can be used in queries, sorting, and aggregations.\n"
      parameters:
        - $ref: '#/components/parameters/scope'
      responses:
        '200':
          description: OK - request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionFieldsResponse'
              examples:
                GetSessionFields200Example:
                  summary: Default getSessionFields 200 response
                  x-microcks-default: true
                  value:
                    fields: &id042 []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/ExceededLimit'
        '500':
          $ref: '#/components/responses/UnexpectedError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/sessions/timeseries:
    get:
      tags:
        - Sessions
      summary: Get Session Timeseries
      operationId: getSessionTimeseries
      description: "Returns timeseries data for sessions, optionally grouped by a field.\nUseful for visualizing session volume over time and identifying trends.\n"
      parameters:
        - $ref: '#/components/parameters/scope'
        - in: query
          name: start_time
          description: Start time for the query range (ISO 8601 format).
          required: true
          schema:
            type: string
            format: date-time
          example: '2025-01-01T00:00:00Z'
        - in: query
          name: end_time
          description: End time for the query range (ISO 8601 format).
[...]
